<body ng-controller="homeController">
  <div class="container-fluid">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand title-dark-primary">Board de tareas</a>
        <form class="form-inline">
          <button class="btn btn-primary btn-add-cl my-2 my-sm-0" ng-click="addColumn()">
            Agregar columna
          </button>
        </form>
      </nav>
    </div>
    <div class="container board ">
      <div class="col-sm-3 pt-3">  
          <input class="form-control input-name" placeholder="Buscar cards..." id="search" ng-keyup="search()" type="text">
      </div>
      <div class="cards">
        <div ng-if="column.length > 0" ng-repeat="list in column" class="list">
          <div class="name-section" ng-mouseover="delete = true" ng-mouseleave="delete = false">
            <input class="form-control input-name" ng-model="list.nameColumn" focus-me="{{inputColumn}}"
              ng-blur="beforeClickName(list)" />
            <button ng-show="delete" class="btn-delete" ng-click="deleteColumn($index)">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div dnd-list="list.card" ng-class="{'card-none': list.card.length === 0}" class="list­-content">
            <div ng-repeat="card in list.card" dnd-draggable="card" dnd-moved="list.card.splice($index, 1)"
              dnd-effect-allowed="move" dnd-selected="models.selected = item"
              ng-class="{'selected': models.selected === item}" class="input-group" ng-mouseover="open = true"
              ng-mouseleave="open = false">
              <input class="form-control" type="text" ng-model="card.title" focus-input="{{inputCard}}"
                ng-blur="beforeClickCard(card , list.card)" />
              <div ng-show="open" ng-click="deleteCard(list.card, $index)" class="input-group-prepend">
                <button class="btn-input">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <button ng-click="addCards(list)" class="btn btn-outline-primary btn-block">
            <i class="fas fa-plus"></i> Agregar card
          </button>
        </div>
        <span ng-if="column.length === 0" class="container pt-5">
          <h5 class="text-center">No hay columnas disponibles</h5>
        </span>
      </div>
    </div>
  </div>
</body>